@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/*coloquei outra fonte ai*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gradient: linear-gradient(to bottom, #000, #1a1a1a, #343434);
  --bg-primary-color: ;
  --bg-secondary-color: ;
  --font-size-subtitle: ;
  --primary-color: #fff;
  --secondary-color: #c49c51;

  --font-size-nav-link: 16px;
  --primary-text-color: #fff;

  --title-color: var(--primary-text-color);

  --color-nav-link: #ffffff;
  --color-footer-contatos: #ffff;

  --hr-color: #c49c51;
  --font-size-title: clamp(2rem, 4vw + 1rem, 3rem);
  --font-size-subtitle: clamp(1.25rem, 2vw + 0.5rem, 2rem);
  --font-size-text: clamp(1rem, 1vw + 0.25rem, 1.125rem);
  --max-width: 1000px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg-gradient);
}

h1,
h2 {
  font-size: var(--font-size-title);
}
p,
a {
  font-size: var(--font-size-text);
}
body,
ul {
  list-style: none;
}
body main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
header {
  margin-bottom: 32px;
}
main {
  margin-bottom: 32px;
}
.container {
  max-width: var(--max-width);
}
.container-margin {
  margin: 0 auto;
}
.borda-background {
  background-image: url("../img/borda-altura-menor.png");
  height: 45px;
  width: 100%;
  background-repeat: repeat-x;
  background-size: 150px auto;
  background-position: center;
}
.color-hr {
  border: 1px solid var(--hr-color);
}
.body-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
}
#nav-bar a {
  color: var(--color-nav-link);
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: var(--font-size-nav-link);
}

.nav-a-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--hr-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-a-hover:hover::after {
  transform: scaleX(1) scaleY(1.05);
  transform-origin: bottom left;
}

#inicio {
  margin: 0 2rem;
}

#bg-inicio {
  background: url("../img/place-holder-club.png") no-repeat center center;
  background-size: cover;
  background-clip: content-box;

  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  width: 100%;
  z-index: -5;
  position: relative;
  margin-bottom: 30px;
}
#bg-inicio::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  border-radius: 1rem;
}

#bg-inicio #logo-club-branco {
  position: relative;
  z-index: 1;
}
#logo-club-branco {
  max-width: 500px;
  width: 100%;
}
.logo-zap-body {
  background-color: #25d366;
  padding: 6px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo-zap-body #icone-wpp-header {
  font-size: 32px;
  transition: transform 0.3s ease;
  color: var(--primary-color);
}

.logo-zap-body::after {
  content: "Agende agora!";
  color: white;
  font-weight: 600;
  margin-left: 6px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.logo-zap-body:hover {
  transform: translateY(-5px);
}
/*vou ajeitar ainda essa parte*/
.texto-fiel-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-family: Jacques Francois;
}

.texto-fiel h2 {
  margin: 0;
  font-size: clamp(1.1rem, 2.6vw, 1.6rem);
  line-height: 1.4;
  font-weight: 800;
  color: #ffffff93;
  letter-spacing: 0.2px;
}

.texto-fiel-container.center-vertical {
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#servicos {
  padding: 4rem 1rem;
  text-align: center;
  color: #ffffff5e;
  max-width: var(--max-width);
  margin: 0 auto;
  grid-column: 1fr;
}

.servicos-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;
  margin: 1px auto;
  padding: 0.5rem 1rem;
  position: relative;
}

.servicos-gallery img {
  width: 100%;
  height: clamp(160px, 28vh, 280px);
  object-fit: cover;
  display: block;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0);
  transition: transform 0.25s ease, filter 0.25s ease;

  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    rgb(0, 0, 0) 8%,
    black 92%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.servicos-gallery img:hover {
  transform: scale(1.02);
}

.servico-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.servico-item figcaption {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 12px;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
  border-radius: 8px;
}

/*INICIO PAGINA ESPAÇO*/
#espaco {
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#espaco h1 {
  color: var(--title-color);
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
  text-align: center;
}
.main-carousel img {
  border: 1px solid var(--secondary-color);
}

.mapa-frame /* MAPA*/ {
  width: 100%;
  max-width: 950px;
  height: 450px;
  border: none;
  display: block;
  margin: 0 auto;
}
#localizacao h2 {
  color: var(--title-color);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
}
/*FIM PAGINA ESPAÇO*/
/*INICIO PAGINA CONTATO*/
#contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 32px;
}
#contato-titulo {
  text-transform: uppercase;
  color: var(--title-color);
  margin: 0 0 1rem 0;
}
#contato-imagem-logo {
  max-width: 300px;
  width: 100%;
}
.logo-contato {
  border-radius: 400px 400px 400px 400px;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.15s, color 0.15s, background-color 0.15s;
}

.logo-contato:hover {
  transform: scale(1.02);
  color: black;
  background-color: white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}
#contato-flex-logos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#contato-container-wpp a,
#contato-container-instagram a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 8px;
  color: var(--color-footer-contatos);
  font-weight: bold;
}

#contato-container-wpp a p,
#contato-container-instagram a p {
  transition: transform 0.2s ease;
}
#contato-container-wpp a p:hover,
#contato-container-instagram a p:hover {
  transform: scale(1.02);
}

#footer {
  background-color: #000;
  padding: 20px;
}
#footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
#footer-logo {
  max-width: 100px;
  width: 100%;
}
.logo-footer {
  color: white;
}

#hr-footer {
  height: 50px;
}
